@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Expanded+One&display=swap');

@font-face {
    font-family: 'MinhaFonte';
    src: url('../fonts/fonte.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --p: #000;
    --preto: #0e0e0e;
    --preto2: #1a1a1a;
    --cinza1: #e0e0e0;
    --cinza: #7f8c8d;
    --red: #a55d00;
    --red2: #5a1d00;
    --titulo: "Inter", sans-serif;
    --paragrafo: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragrafo);
    background: var(--p);
    color: var(--cinza1);
}

li,
a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--cinza1);
    list-style: none;
    transition: 0.5s;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    height: 8vh;
    padding: 2.5rem 10%;
    z-index: 999;
    transition: background-color 0.3s ease;
}

header.scroll {
    background-color: rgb(14, 14, 14, 0.6);
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 10px 0px #000;
}

.nav-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 0.8rem 2rem;
    border-radius: 35px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-container ul li a {
    color: var(--p);
}

.nav-container.scroll {
    background: none;
}

.nav-container.scroll .nav-list a {
    color: var(--cinza1);
}

.nav-container ul li a.scroll {
    color: var(--cinza1);
}

.nav-list {
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
}

.nav-list li a {
    display: inline-block;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    transition: transform 0.2s;
}

.nav-list li a:hover {
    border-bottom: solid 0.1rem var(--red);
    transform: scale(1.1);
}

.logo {
    display: flex;
    cursor: poiter;
}

.logo h1 {
    font-family: 'MinhaFonte', Arial, sans-serif;
    letter-spacing: 1.5px;
    font-size: 45px;
}

.logo h1 span {
    font-family: 'MinhaFonte', Arial, sans-serif;
    letter-spacing: 1.5px;
    font-size: 45px;
    color: var(--red);
}

.btn {
    color: #fff;
    background: var(--red);
    border: none;
    border-radius: 35px;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--red2);
}


.back {
    background: url("../img/fundo.jpg") center center / cover no-repeat;
    background-position: 50% 10%;
    height: 51.4vh;
    position: relative;
    z-index: -1;
}

.back::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(1, 0, 0, 1), transparent);
    z-index: 0;
}

.title {
    font-family: 'MinhaFonte', Arial, sans-serif;
    color: var(--red);
    font-size: 90px;
    letter-spacing: 2px;
}

.cards {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 10%;
    padding: 0 20%;
}

.card img {
    width: 450px;
    transition: transform 0.5s;
}

.card {
    display: flex;
    align-items: center;
}

.card a img:hover {
    transform: rotate(-3deg) scale(1.05);
}

.maps {
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.5) 30%, transparent 40%, rgba(0, 0, 0, 0.5) 60%, #000 100%), url("../img/fu_ellie.jpg");
    background-position: 50% 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20%;
}

.desc {
    width: 50%;
}

.content {
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.map {
    border-radius: 1rem;
    width: 100%;
    height: 250px;
}

.jogo {
    background-color: var(--cinza1);
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jogos {
    color: var(--p);
    display: flex;
}

.jogos img {
    height: 500px;
}

.jogos table {
    width: 70vh;
    height: 400px;
    margin-top: 40px;
}

.jogos .tb-title {
    font-size: 70px;
    text-wrap: nowrap;
}

.tb-item:not(:last-child) th,
.tb-item:not(:last-child) td {
    border-bottom: 1px solid #ccc;
}


footer {
    width: 100%;
    height: 100vh;
}

.fungo {
    background: url("../img/fungo.png") center center / cover no-repeat;
    background-position: 8vh 50%;
    height: 60vh;
    opacity: 0.4;
}

.footer {
    background: var(--preto);
    width: 100%;
    height: 38vh;
    padding: 32px 7%;
}

.footer .top-footer {
    display: flex;
    height: 18vh;
    flex-direction: column;
    border-bottom: 1px solid var(--cinza);
}

.footer .top-footer img{
    width: 8rem;
}

.footer .top-footer .link-footer {
    margin-bottom: 20px;
    gap: 30px;
}

.footer .top-footer .link-footer a{
    font-size: 1rem;
    transition: color 0.8s;
}

.footer .top-footer .link-footer a:hover{
    color: #5a1d00;
}

.mid-footer {
    height: 18vh;
    padding: 30px 0;
}

.social {
    margin-top: 10px;
    margin-bottom: 5px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.social a {
    font-weight: 300;
}

.bxl-instagram {
    font-size: 20px;
}

.low-footer {
    background: var(--p);
    width: 100%;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-footer span {
    color: var(--red);
}